* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: roboto, sans-serif;
}

html,
body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  gap: 500px;
  color: #fffefe;
  background-color: #1f2937;
  border-bottom: solid 1px #e1e1e1;
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

img {
  height: 200px;
  width: 400px;
  border-radius: 30px;
}

.container {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  padding: 50px;
  background-color: #1f2937;
  color: #fffefe;
}

.text {
  padding: 80px;
  text-align: wrap;
}

.text h1 {
  font-size: 30px;
  font-weight: 600;
}

.text p {
  margin-top: 10px;
  font-weight: 200;
}

button {
  margin-top: 20px;
  padding: 5px;
  background-color: #3882f6;
  border-radius: 10px;
  border: solid #3882f6;
  font-weight: 500;
  color: #fffefe;
}

.img {
  padding: 60px;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
}

.hero {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  padding: 20px;
  text-align: center;
  justify-content: space-around;
}


.box {
  width: 300px;
  height: 300px;
  aspect-ratio: 1/1;
  border: 2px solid #4a90d9;
  border-radius: 16px;
  background: white;
}
.cls {
  padding: 40px;
}
.box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 14px;
}
.quote{
  padding: 100px;
  background-color: #E5E7EB;
  font-weight: 500;
  display: flex;
  align-items: flex-end ;
  justify-content: flex-end;
}
.action{
 color:#E5E7EB;
 margin: 30px;
 padding: 10px;
 background-color: #3882f6;
 display: flex;
 justify-content: space-evenly;
 border-radius: 10px
}
.action .txt{
  padding: 20px;
  text-align: wrap;
}
/* .action .btn{
  border: solid 2px #f7faff;
  border-radius: 10px;
  padding: 5px;
} */
button{
  border: solid 2px #f7faff;
  border-radius: 10px;
  align-items: center;
  height: 40px;
  width: 100px;
  padding: 2px;
}
.fotter{
  background-color: #1f2937;
  color: #fffefe;
  text-align: center;
  padding: 20px;
}